:root {
    --cor-de-texto: #000;
    --cor-de-cabecalho: #93bd9a;
  }
  body {
    text-align: center;
    margin: 0;
    height: 100%;
    background: rgb(0,194,255);
    background: linear-gradient(153deg, rgba(0,194,255,1) 14%, rgba(9,113,121,1) 50%);
  }
  
  header {
    background-color: var(--cor-de-cabecalho);
    text-align: center;
    padding: 1px;
  }
  
  h1 {
    font-size: 2rem;
    color: var(--cor-de-texto);
    font-weight: 700;
  }
  nav a {
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
  }
  nav a:hover {
    text-decoration: underline;
    transform: scale(0 9);
    transition: transform 0, 1;
  }
  cabecalho--nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
  
  .roda {
    background-color: #5e4b55;
    color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  